html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --background-color: #f8f8f8;
  --text-primary: #171717;
  --text-info: #449944;
  --text-danger: #ff0000;
  --board-width: 99%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  line-height: 2;
  background: var(--background-color, #171717);
  color: var(--text-primary, #ccc7bc);
}
